.header {
  margin: 3rem;
  display: flex;
  flex-direction: column;
}
.text-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-box {
  background-color: rgb(244, 244, 250);
  margin-left: 20px;
  padding: 10px 30px 10px 10px;
  outline: none;
  cursor: pointer;
  color: slateblue;
  font-weight: bold;
  border-radius: 8px;
  border: 0.1px solid rgb(188, 188, 188);
  transition: box-shadow linear 0.2s, 500ms ease;
}
.search-box:focus,
.search-box:hover {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
.filter-search {
  padding: 10px 25px;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: slateblue;
}
.filter-box {
  background-color: white;

  margin-top: 20px;
  height: 5rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}
/* .filter {
  border-right: 1px solid rgba(204, 204, 204, 0.514);
} */
.filter > input {
  border: none;
  outline: none;
}
.filter > h3 {
  color: #4c4757;
}
