.header {
  margin: 3rem;
}
.text-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search-box {
  background-color: rgb(244, 244, 250);
  padding: 10px;
  border-radius: 8px;
  border: 0.1px solid rgb(188, 188, 188);
  transition: box-shadow linear 0.2s, 500ms ease;
}
.search-box:focus,
.search-box:hover {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
.search,
.search-button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: slateblue;
  font-weight: bold;
}
.filter-search {
  padding: 10px 25px;
  margin: 20px;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: slateblue;
}
.filter {
  background-color: white;
  margin-top: 20px;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}
.filter {
}
